@import '../../mixins';


.game-buttons-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .button {
    border: none;
    border-radius: 40px;
    width: 200px;
    text-align: center;
    flex: auto;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
    transition: width 0.5s;
    background-color: #0CCDE8;
    margin-top: 15px;
    z-index: 10;
    outline: none;

    @include setMobileWidth(800px, 100%);
    @include setDesktopWidth(1200px, 400px);

    fa {
      color: white;
    }
  }


  @include changeButtonBackground(800px, #0C99F2);
  @include changeButtonBackground(1200px, #165BDB);


  @media only screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }


}



