<div class="game-container">

  <div style="text-align: center">
    <h1>Paper/rock/scissors</h1>
  </div>

  <app-game-buttons (selectedGameValue)="onSelectedGameValue($event)"></app-game-buttons>


  <app-score [roundWinner]="roundWinner"
             (resetRoundWinner)="resetPreviousRoundData()"
             (finalWinner)="setWinner($event)"
  >
  </app-score>


  {{winner}}

</div>


<div class="fullscreen-info">
  <div class="game-info">
<!--    {{gameInfo}}-->
    <span>GAME OVER</span>
  </div>
</div>


