@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.fullscreen-info {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(211, 211, 211, 0.5);
  display: grid;

  .game-info {
    font-size: 8rem;
    margin: auto;
    font-family: 'VT323', monospace;

    .lost {
      background: linear-gradient(yellow, red);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: slide-in-bck-center;
      animation-delay: 200ms;
      animation-duration: 2000ms;
    }

    .win {
      background: linear-gradient(#0ca70c, #066106);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }


  }


}


.repeat-icon {
  cursor: pointer;
}


.with-slide-in-animation {
  animation: slide-in-bck-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@keyframes slide-in-bck-center {
  0% {
    transform: perspective( 1000px ) translateZ(600px);
    opacity: 0;
  }
  100% {
    transform: perspective(1000px) translateZ(0);
    opacity: 1;
  }
}
