<div class="game-container">

  <div class="section">
    <div style="text-align: center">
      <h1 class="game-title">Paper / rock / scissors</h1>
    </div>

    <app-game-buttons (selectedGameValue)="onSelectedGameValue($event)"></app-game-buttons>


    <app-score [roundWinner]="roundWinner"
               (resetRoundWinner)="resetPreviousRoundData()"
               (finalWinner)="setWinner($event)"
    >
    </app-score>
  </div>

</div>


<app-round-info
  [isRoundInfoVisible]="isRoundInfoVisible"
  [round]="round"
>
</app-round-info>


<div class="fullscreen-info" *ngIf="isGameInfoVisible">
  <div class="game-info with-slide-in-animation" [ngSwitch]="winner">

    <span *ngSwitchCase="roundWinnerEnum.COMPUTER"
          class="lost">
      GAME OVER
    </span>

    <span *ngSwitchCase="roundWinnerEnum.PLAYER1"
          class="win">
      YOU WIN!
    </span>


    <br/>

    <div class="repeat-icon"
         [ngClass]="{'win': winner === roundWinnerEnum.PLAYER1, 'lost': winner === roundWinnerEnum.COMPUTER}"
         (click)="resetGameData()">
      <fa name="rotate-right" style="font-size: 3rem"></fa>
    </div>


  </div>
</div>


