<div class="game-container">

  <div style="text-align: center">
    <h1>Paper/rock/scissors</h1>
  </div>

  <app-game-buttons (selectedGameValue)="onSelectedGameValue($event)"></app-game-buttons>


  <app-score [roundWinner]="roundWinner"
             (resetRoundWinner)="resetPreviousRoundData()"
             (finalWinner)="setWinner($event)"
  >
  </app-score>


</div>


<div class="fullscreen-info" *ngIf="isGameInfoVisible">
  <div class="game-info" [ngSwitch]="winner">

    <span *ngSwitchCase="roundWinnerEnum.COMPUTER"
          class="lost with-slide-in-animation">
      GAME OVER
    </span>

    <span *ngSwitchCase="roundWinnerEnum.PLAYER1"
          class="win with-slide-in-animation">
      YOU WIN!
    </span>


    <span class="repeat-icon"
      (click)="resetGameData()">
      <fa name="rotate-right" style="font-size: 3rem"></fa>
    </span>

  </div>
</div>


