<div class="fullscreen-info" *ngIf="isRoundInfoVisible">


  <div class="round-container">
    <div class="player-choice-container choice-container">
      <div class="player-indicator">Player 1</div>
      <div class="player-choice" #playerChoiceRef>
        <fa
          *ngIf="_round !== undefined"
          name="{{getIconForChoice(_round.player)}}">
        </fa>
      </div>
    </div>


    <div class="cpu-choice-container choice-container">
      <div class="cpu-indicator">CPU</div>
      <div class="cpu-choice" #cpuChoiceRef>
        <fa
          *ngIf="_round !== undefined"
          name="{{getIconForChoice(_round.computer)}}">
        </fa>
      </div>
    </div>

  </div>

</div>


<button
  style="position: fixed; top: 0; right: 0;"
  (click)="isRoundInfoVisible=!isRoundInfoVisible">
  hide/show
</button>
