

body {
  margin: 0;
  overflow: hidden;

  .background-with-font-awesome {
    position: relative;

    &:before {
      font-family: FontAwesome;
      font-size: 25rem;
      content: "\f257";
      right: 20px;
      position: absolute;
      bottom: 0;
      opacity: 0.1;
      transform: rotate(15deg);
    }


  }
}


