$pointsMargin: 20px;
$wrapValue: 800px;


.scores {
  margin-top: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;


  .points-container {

    &:first-child {
      margin-right: $pointsMargin;
    }

    &:last-child {
      margin-left: $pointsMargin;
    }

    .points {
      font-size: 4rem;
    }

  }

  .separator {
    font-size: 3rem;
    align-self: center;
    margin-top: 0.5rem;

  }


  @media only screen and (max-width: $wrapValue) {
    flex-wrap: wrap;

    & > div {
      width: 100%;
      margin-left: 0 !important;
      margin-right: 0 !important;


    }

  }


}
